## GIT is ignoring... (# Created by oryon-dominik)

# git itself
/.git/*

# all logs
*.log

# vscode/settings
/.vscode/*
*.code-workspace

# local-config
/.env

# migrations are only committed for production
**/migrations/*
!**/migrations/__init__.py

# the database is only committed for production
database/sqlite.db

# jupyter
notebooks/.ipynb_checkpoints/

# ignoring the lockfiles
poetry.lock
frontend/yarn.lock

### Python ###
# precompiled
__pycache__/
*.py[cod]

# frontend
**/node_modules
frontend/.cache
frontend/dist
